<div>
  <div class="meta">
    <div class="date"><% /* this is the subtitle, here to pretend to be the date, in order to make the styles work */ %>
      <%= is_category() ? __('category') : '' %>
      <%= is_tag() ? __('tag') : '' %>
    </div>

    <h2 class="title<%= theme.capitalize_tags && is_tag() ? ' text-capitalize' : '' %>">
      <%= is_category() ? page.category : '' %>
      <%= is_tag() ? (theme.hashtag_prefix_before_tags ? '#' : '') + page.tag : '' %>
      <%= is_archive() ? __('archives') : '' %>
    </h2>
  </div>
</div>

<div class="container">
  <%- partial('_partial/post-list', { posts: page.posts, isArchives: true }) %>
</div>

<%- partial('_partial/paginator') %>
