<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/nav') %>
        <%- body %>
        <%- partial('_partial/footer') %>

        <%- js('js/main.js') %>
    </body>
</html>