<!DOCTYPE html>
<html lang="<%= config.language %>">
  <%- partial('_partial/head') %>
  <body
    data-color-scheme="<%= theme.color_scheme %>"
    data-uppercase-categories="<%= theme.uppercase_categories %>"
    <% if (theme.rainbow_banner == true) { %>
    data-rainbow-banner="<%= theme.rainbow_banner %>"
    data-rainbow-banner-shown="<%= theme.rainbow_banner_shown %>"
    data-rainbow-banner-month="<%= theme.rainbow_banner_month %>"
    data-rainbow-banner-colors="<%= theme.rainbow_banner_colors %>"
    <% } %>
    data-config-root="<%- config.root %>"
    <% if (theme.toc == true) { %>
    data-toc="<%= theme.toc %>"
    data-toc-max-depth="<%= theme.toc_max_depth %>"
    <% } %>
    <% if (theme.search == true && page.type == 'search') { %>
    data-search-path="<%= theme.search_path %>"
    <% } %>
    <% if (theme.scroll_reveal) { %>
    data-scroll-reveal-disappear="<%= theme.scroll_reveal_disappear %>"
    data-scroll-reveal-query="<%= theme.scroll_reveal_query %>"
    <% } %>
  >
    <a href="#main-content" id="skip-to-content"><%- __('skip_to_content') %></a>
    <%- partial('_partial/nav') %>
    <main id="main-content">
      <%- body %>
    </main>
    <%- partial('_partial/footer') %>

    <%- js('js/main.js') %>

    <% if (theme.search == true && page.type == 'search') { %>
    <%- js('js/search.js') %>
    <% } %>

    <% if (theme.scroll_reveal) { %>
    <%- js('js/scroll-reveal.js') %>
    <% } %>

    <% if (config.tidio) { %> 
    <%- js(config.tidio) %> 
    <%- js('js/tidio.js') %>
    <% } %>

    <% if (config.ackee) { %>
    <%- config.ackee %>
    <% } %>

    <%- theme.insertions.body.ending %>
  </body>
</html>
