<article class="post">
    <div class="meta">
        <% if (page.categories && page.categories.length) { %>
        <div class="categories<%= theme.uppercase_categories ? ' text-uppercase' : '' %>">
        <% page.categories.forEach((category) => { %>
            <a href="<%= config.root + category.path %>"><%= category.name %></a>
        <% }) %>
        </div>
        <% } %>

        <% if (!page.no_date) { %>
        <div class="date" id="date">
            <span><%= ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][page.date.month()] %></span>
            <span><%- page.date.date() %>,</span>
            <span><%- page.date.year() %></span>
        </div>
        <% } %>

        <h2 class="title"><%= page.title %></h2>
    </div>

    <div class="divider"></div>

    <div class="content">
        <%- page.content %>
    </div>

    <div class="about">
        <h1><%= __('about_this_post') %></h1>
        <div class="details">
            <% if (page.tags && page.tags.length) { %>
            <p class="tags<%= theme.capitalize_tags ? ' text-capitalize' : '' %>">
                <%
                    var tags = ''
                    page.tags.forEach((tag) => {
                        tags += `<a href="${config.root}${tag.path}" class="tag">${theme.hashtag_prefix_before_tags ? '#' : ''}${tag.name}</a>${theme.hashtag_prefix_before_tags ? '' : ','}`
                    })
                    if (!theme.hashtag_prefix_before_tags) { tags = tags.slice(0, tags.length - 1) }
                %>
                <%- __('tagged_with', tags) %>
                .
            </p>
            <% } %>
            <p><%- __('this_post_is_written_by', config.author) %>, <%- __('licensed_under', `<a href="${theme.license_link}">${theme.license}</a>`) %>.</p>
        </div>
    </div>

    <% if (!page.no_comments) { %>
        <% if (config.waline) { %>
        <div class="container">
            <div id="waline"></div>
            <script>
                new Waline({
                    el: "#waline",
                    <% for (const i in config.waline) { %>
                    <%- i %>: <%- config.waline[i] %>,
                    <% } %>
                });
            </script>
        </div>
        <% } %>
        <% if (config.giscus) { %>
        <%- config.giscus %>
        <% } %>
    <% } %>
</article>