<article class="post">
    <div class="meta">
        <% if (!page.no_date) { %>
        <div class="date" id="date">
            <span><%= ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][page.date.month()] %></span>
            <span><%- page.date.date() %>,</span>
            <span><%- page.date.year() %></span>
        </div>
        <% } %>

        <h2 class="title"><%= page.title %></h2>
    </div>

    <div class="divider"></div>

    <div class="content">
        <%- page.content %>
    </div>

    <div class="about">
        <h1><%= __('about_this_post') %></h1>
        <p><%- __('this_post_is_written_by', config.author) %>, <%- __('licensed_under', `<a href="${theme.license_link}">${theme.license}</a>`) %>.</p>
    </div>

    <% if (!page.no_comments) { %>
        <% if (config.waline) { %>
        <div class="container">
            <div id="waline"></div>
            <script>
                new Waline({
                    el: "#waline",
                    <% for (const i in config.waline) { %>
                    <%- i %>: <%- config.waline[i] %>,
                    <% } %>
                });
            </script>
        </div>
        <% } %>
        <% if (config.giscus) { %>
        <%- config.giscus %>
        <% } %>
    <% } %>
</article>