<footer>
    <div class="inner">
        <div class="links">
            <% for (const i in theme.footer) { %>
            <div class="group">
                <h2 class="title"><%= i %></h2>
                <% for (const n in theme.footer[i]) { %>
                <a href="<%- theme.footer[i][n] %>" class="item"><%= n %></a>
                <% } %>
            </div>
            <% } %>
        </div>
        <span>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br><%- __('powered_by', '<a href="http://hexo.io/" target="_blank">Hexo</a>') %> </span>
        <% if (theme.footer_extra_description) { %>
        <br>
        <span class="footer-extra-description"><%- theme.footer_extra_description %></span>
        <% } %>
        <% if (theme.show_color_scheme_toggle) { %>
            <br>
            <div class="color-scheme-toggle" role="radiogroup" id="theme-color-scheme-toggle">
                <label>
                    <input type="radio" value="light">
                    <span>Light</span>
                </label>
                <label>
                    <input type="radio" value="dark">
                    <span>Dark</span>
                </label>
                <label>
                    <input type="radio" value="auto">
                    <span>Auto</span>
                </label>
            </div>
        <% }%>
    </div>
</footer>
