<footer>
  <div class="inner">
    <div class="links">
      <% for (const group of theme.footer) { %>
      <div class="group">
        <h2 class="title"><%- group.group_name %></h2>
        <% for (const item of group.items) { %>
        <a href="<%- url_for(item.url) %>" class="item"><%- item.name %></a>
        <% } %>
      </div>
      <% } %>
    </div>
    <span>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br><%- __('powered_by', '<a href="http://hexo.io/" target="_blank">Hexo</a>') %></span>
    <% if (theme.footer_extra_description) { %>
    <br>
    <span class="footer-extra-description"><%- theme.footer_extra_description %></span>
    <% } %>
    <% if (theme.show_color_scheme_toggle) { %>
      <br>
      <div class="color-scheme-toggle" role="radiogroup" id="theme-color-scheme-toggle">
        <label>
          <input type="radio" value="light">
          <span><%- __('light') %></span>
        </label>
        <label>
          <input type="radio" value="dark">
          <span><%- __('dark') %></span>
        </label>
        <label>
          <input type="radio" value="auto">
          <span><%- __('auto') %></span>
        </label>
      </div>
    <% }%>
  </div>
</footer>
