<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <% if (theme.favicon){ %>
    <%- favicon_tag(theme.favicon) %>
  <% } %>

  <%- css('css/var') %>
  <%- css('css/main') %>
  <%- css('css/typography') %>
  <%- css('css/components') %>
  <%- css('css/nav') %>
  <%- css('css/paginator') %>
  <%- css('css/footer') %>
  <%- css('css/post-list') %>
  <% if (page.path == "index.html") { %>
  <%- css('css/index') %>
  <% } %>
  <% if (page.path != "index.html" && page.path != "archives/index.html") { %>
  <%- css('css/post') %>
  <% } %>
</head>